<div id="profiles_filter">
	SEARCH FIELDS <br />
		<%= render "search_form", :search_profile => @search_profile %>
	<br />
	<hr />
</div>	
<div id="profiles_list">
	<% @profiles.each do |profile| %>
		<%= render "list_item", :profile => profile %>
	<% end %>	
</div>	

<div id="paginate">
	<%= will_paginate @profiles %>
</div>	


