@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/layout/sticky-footer";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/text/replacement";

//@include sticky-footer(100px);

body {
	@include background(image-url('content-bg.jpg') #f1efe0 repeat-x);
}

#header {
	@include background(image-url('header-bg.jpg'));
	height: 143px;
	#main-nav ul {
		@include horizontal-list;
		height: 143px;
		line-height: 143px;
		li {
			padding-left: 16px;
			padding-right: 8px;
		}
	}
	#logo a {
		display: inline-block;
		@include replace-text-with-dimensions('logo.png');
	}
}

.login {
	.labels {
		float: left;
	}
}

#profiles_filter {
  input {
	width: 135px;
}
}

	table {
		background-color: white;
		width: 100%;
		th {
			padding: 10px;
			text-align: left;
			font-weight: bold;
		}
		td {
			padding: 10px;
			text-align: left;
		}
		tr.odd {
			background-color: #eee;
		}
	}


#profile {
	.form_left, .form_center, .form_right {
	float:left
	}
	label {
		width: 120px;
		alight: right;
		float: left;
		display: block;
	}
}

#footer {
}