<div id="account">
	<h2>Account Info</h2>
	<div class="grid_4 alpha right">
		Login: <%= "#{@current_user.login}"%>
	</div>

	<div class="grid_4 alpha right">
		email:	<%= mail_to(@current_user.email) %>
	</div>
	<div class="grid_4 alpha right">
		Subscription Expires:		<%= @current_user.active_until %>
	</div>

</div>	

<%= link_to("edit", account_edit_path)%>
	
	
	
	
	
	
